%h1 New song

=form_for(@song) do |s|
  %p
  = s.label :title 
  = s.text_field :title
  %p
  = s.label :lenght
  = s.text_field :lenght
  %p
  = s.label :album   
  = select("song", "albums_id", Album.all.collect {|p| [ p.name, p.id ] })
  %p
  = s.submit

= link_to 'Back', songs_path
